.Products {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 20px;
}

.toolBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.toolBar > * {
    min-width: 100px;
}

.toolBar h1 {
    margin-right: 10px;
}

.zoomModal {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    padding: 10px;
}

.zoomedProduct {
    width: 100%;
    height: auto;
}