.Button {
    font-family: 'Orbitron';
    background-color: var(--purple);
    border-radius: 3px;
    color: var(--white);
    cursor: pointer;
    box-shadow: none;
    padding: 10px;
    width: fit-content;
    outline: none;
}

.Button.unstyled {
    background: none;
    border: 0;
    outline: none;
    text-decoration: none;
    padding: 0;
}

.Button:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.Button.unstyled:hover {
    background: none;
    color: var(--white);
}