.SearchInput {
    position: relative;
    height: 30px;
    width: 100%;
    max-width: 250px;
    flex: 1;
    margin-right: 20px;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    background: gray;
    border: 2px solid var(--purple);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--yellow);
}

input::placeholder {
    color: var(--white);
}

.searchIcon {
    position: absolute;
    left: 90%;
    top: 6px;
}