.Header {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    padding: 10px 40px;
    height: 60px;
    border-bottom: 1px solid gray;
}

.Header nav ul {
    display: flex;
}

.Header nav ul li {
    margin-right: 10px;
}