.SideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: var(--sidebar-closed-width);
    width: var(--sidebar-closed-width);
    padding: 15px;
    transition: all 0.5s ease;
    background-color: var(--black);
    border-right: 1px solid gray;
    white-space: nowrap;
    overflow: hidden;
}

.SideBar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.SideBar>ul>li {
    margin: 8px;
}

.SideBar.open {
    align-items: flex-start;
    width: var(--sidebar-open-width);
    max-width: var(--sidebar-open-width);
}

.open ul {
    align-items: flex-start;
}

.brand {
    margin-top: 3;
}

.SideBar .toggle {
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--yellow);
    color: var(--black);
    padding: 2px 2px;
    border: none;
    border-radius: 2px 0 0 2px;
    display: flex;
}

.SideBar .toggle:hover {
    background-color: var(--yellow);
    color: gray;
}

.toggle p {
    margin: 0;
}