.Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.featuredCharts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
}

.featuredCharts> :not(:nth-child(1)) {
    width: 500px;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
}

.charts>* {
    flex: 1;
    max-width: 400px;
}