html, body {
  height: 100%;
  margin: 0;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Orbitron', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --black: #282c34;
  --purple: #442D89;
  --yellow: #E6C254;
  --white: #F6F6F6;
  --blue: rgba(54, 162, 235, 1);
  --red: rgba(255, 99, 132, 1);
  --sidebar-open-width: 200px;
  --sidebar-closed-width: 40px;
  --font-large: 24px;
  --mobile-bar-height: 60px;
}



